<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andriod="http://schemas.android.com/apk/res-auto"
    package="com.sunshine.coldashes.perfectform">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRI" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SensorAccelerometer"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".WeatherActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Results"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ScheduleActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ScheduleAlarm"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".run"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ReadyToRunActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".WaitingActivity"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".NotificationPublisher" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Alarm_Receiver"/>

    </application>
</manifest>
